main > .container {
    padding: 100px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem;
    }
}

.form-control.error {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
}

label.error {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
